@charset "utf-8";
/* CSS Document */

html {
    font-size: 62.5%;
    /* 62.5% of the base size of 16px = 10px */
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.hidden {
    display: none;
}

.unvisible {
    animation: hide .2s forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

body {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    background: url("https://raw.githubusercontent.com/lapuger/Chrome-App/31db1629ee3d90c6b94847306edd3fc6e620767d/src/images/Tatooin_BG.svg") no-repeat;
    background-size: cover;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    /* reset 10*1.6px, to make sure you do not get any 10px around */
    text-align: center;
    position: relative;
}

/* Lay-out */
#wrapper {
    position: relative;
    height: 100vh;
}

#wrapper.login {
    filter: blur(30px);
    backdrop-filter: blur(30px);
}

#login {
    position: absolute;
    z-index: 5;
    left: 50%;
    margin-left: -35rem;
    top: 25rem;
    text-align: right;
}

#login h1 {
    font-size: 7rem;
    font-weight: 300;
}

#login label {
    font-size: 4rem;

}

#login input#asking-name {
    width: 40rem;
    height: 5rem;
    line-height: 4rem;
    font-size: 4rem;
    color: #fff;
    background: transparent;
    border: 0 solid white;
}

input:focus {
    outline: none;
}

#login form {
    position: relative;
}

#login button {
    background: transparent;
    border: 0 solid #fff;
    position: absolute;
    right: 0;
    bottom: 1rem;
    opacity: 0.6;
}

#login hr {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40.5rem;
    border-bottom: 0.1px solid #fff;
}

#modal {
    width: 100%;
    min-height: 100vh;
    background: rgba(220, 127, 161, 0.15);
    position: absolute;
    z-index: 2;
}

/* quote */
.quotes {
    width: 100%;
    min-height: 3.6rem;
    line-height: 3.6rem;
    font-size: 1.5rem;
    font-weight: 200;
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15));
}

.quotes #author {
    margin-left: 2rem;
    font-size: 1.3rem;
}

/* center .clock .greetings .dock */

/* .clock */
#wrapper .clock {
    opacity: 0.7;
    width: 58rem;
    position: absolute;
    left: 50%;
    top: 30rem;
    margin-left: -30rem;
}

#wrapper .clock h2 {
    font-size: 14rem;
    font-weight: 400;
    color: #fff;
    text-align: left;
    margin-left: 3rem;
}

#wrapper .clock::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    bottom: 3rem;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#wrapper .clock:hover::before {
    transform: scaleX(1);
}

#wrapper .clock .clock-setting {
    position: absolute;
    right: -6rem;
    bottom: 7rem;
}

#wrapper .clock:hover {
    cursor: pointer;
}


/* .greetings */
#wrapper .greetings {
    margin: 0 auto;
    margin-top: 50rem;
}

#wrapper .greetings h1 {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

/* .dock */
#wrapper .dock {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    margin-left: -10.5rem;
    background: rgba(0, 0, 0, 0.5);
    width: 21rem;
    line-height: 6rem;
    border-radius: 1.4rem;
}

#wrapper .dock img {
    float: left;
    padding: 1rem 0.5rem;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

#wrapper .dock img:first-child {
    margin-left: 0.5rem;
}

#wrapper .to-do-shortcut {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    opacity: 0.6;
}

#wrapper .now-playing {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    opacity: 0.6;
}